body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
}

#main {
    width: 626px;
    margin: 64px auto 64px;
}

#main img {
    margin-bottom: 32px;
    width: 350px;
}

--- título
h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: normal;
    font-weight: normal;
    margin: 0px auto 16px;
    width: 494px;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

span, a {
    color: #3F3D56;
}

p1 {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    width: 540px;
    height: 107px;
    margin-left: 50px;
    margin-right: 36;
}

p2 {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    margin-top: 32px;
}

#footer a + a {
    margin-left: 42px;
}

---links
#line {
    width: 391px;
    height: 0px;

    margin-bottom: 40,86px;
    border: 1px solid #ECEFF2;
}

#footer img {
    width: 100%;
    margin: 0 auto 72px;
}